<h1>Welcome to Legal Hackathon Zurich 2018 - SBB Challenge</h1>
<form class="full-width" (submit)="checkForPrivacy()">

  <mat-form-field class="url-input">
    <input matInput placeholder="Type in your data privacy URL and hit enter or click the button"
           [(ngModel)]="url" name="url">
    <button type="button" *ngIf="url"
            mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="url=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="geotrackingWanted" name="geotracking">I agree to Geo-tracking</mat-checkbox>
  <button mat-raised-button color="primary"
          class="button-right" [disabled]="isLoading">
    {{isLoading ? 'Analyzing site content...' : 'Analyze'}}
  </button>

  <div class="result-container" class="entities">
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div class="entities" *ngIf="result">
      <p *ngIf="result.geotrackingFulfilled"
         [class]="geotrackingWanted ? 'site-ok':'site-nok'">The site seems to track geo-data.
        <mat-icon *ngIf="geotrackingWanted">sentiment_very_satisfied</mat-icon>
        <mat-icon *ngIf="!geotrackingWanted">sentiment_very_dissatisfied</mat-icon>
      </p>
      <p *ngIf="!result.geotrackingFulfilled" class="site-ok">The site does not seem to track geo-data at all.
        <mat-icon *ngIf="geotrackingWanted">sentiment_satisfied</mat-icon>
      </p>

      Recognized entities:
      <ul>
        <li *ngFor="let entity of result.entities">{{entity.name}}</li>
      </ul>
    </div>
  </div>
</form>
