.url-input {
  width: 50%;
  padding-right: 1em;
}

.button-right {
  display: flex;
  align-content: end;
}

.entities {
  margin-top: 1em;
}

p {
  font-size: 1.5em;
}

.site-ok {
  color: green;
}

.site-nok {
  color: red;
}
